{{!< main}}

<form class="container">
  <h3 class="text-center"><i class="fa fa-long-arrow-left" aria-hidden="true" onclick="history.back()"></i> Profile</h3>
    {{> formItem/input name="password" placeholder="Password" required="true" type="password" }}
    {{> formItem/input name="second_password" placeholder="Repeat password" required="true" type="password" }}
  <div class="form-btns">
      {{> button/button title="Edit password" type="btn btn-primary"}}
  </div>
</form>
