.chats {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
  border-right: 1px solid var(--main-middle-color);
}

.msg-header {
  border-bottom: 1px solid var(--main-middle-color);
  padding: 10px 15px;
  display: flex;
  gap: 15px;
  flex-direction: row;
}

.chats-item {
  border-bottom: 1px solid var(--main-middle-color);
  padding: 15px;
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.chats-item.active {
  background: #efefef;
}

.chats-item .contact {
  flex: 1;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  background: #dfdfb299;
  color: var(--main-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14pt;
}
.avatar img {
  object-fit: cover;
}
.contact {
  line-height: 1.5;
}
.contact-name {
}
.contact-msg {
  opacity: 0.5;
}
.msg-time {
  opacity: 0.5;
  font-size: 14px;
}
.msg-count {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background: var(--main-dark-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
}
.msg-count img {
  object-fit: cover;
}
.msg-info {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input-search,
.msg-input input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #efefef;
}

.msg-input {
  border-top: 1px solid var(--main-middle-color);
  padding: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  color: gray;
}

.msg-input .fa-paperclip {
  font-size: 24px;
}

.profile-link {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: end;
  color: grey;
}

.msg-header {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  color: grey;
}
.msg-list {
  margin: 15px;
  flex: 1;
}

.msg-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.empty-chat {
  flex: 2;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-dark-color);
}

.msg-item {
  border-radius: 30px;
  padding: 15px;
  display: flex;
  gap: 15px;
  border-top-left-radius: 0;
  background: #efefef;
  margin-bottom: 15px;
  width: 50%;
}
.msg-item.me {
  background: var(--main-light-color-2);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 0;
  float: right;
}

.circle-btn {
  min-width: 40px;
  height: 40px;
  /*font-size: 12px !important;*/
  border-radius: 50% !important;
  margin: 0;
  padding: 0 !important;
}
