
<div class="msg-container">
    <div class="msg-header">
        {{> avatar/avatar name="МБ"}}
        <span>Мадам бугенвилия</span>
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
    <div class='msg-list'>
        <div class='msg-item'>
            text
        </div>
        <div class='msg-item me'>
            text
        </div>
    </div>
    <div class="msg-input">
        <i class="fa fa-paperclip size-24" aria-hidden="true"></i>
        <input
            id='search'
            type='search'
            placeholder='Type...'
        />
        <button class="btn btn-primary send-btn" type="submit">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
    </div>
</div>