{{!< main}}

<div  class="full-container">
  <div class='chats'>
    <div class='msg-header'>
        <input
            class='input-search'
            id='search'
            type='search'
            placeholder='Search...'
        />
        <div class="profile-link">
            {{> avatar/avatar name="MN"}}
                <span>Profile</span>
                <a href="../profile/editProfileForm.hbs"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
    </div>
      {{#each contacts}}
            {{> chats/chat}}
      {{/each}}
  </div>
    {{> chats/message}}
</div>