<div class="full-container">
  <div class='chats'>
    <div class='link_profile'><div>
        <span class='avatar'>
          <img />{{initials}}
        </span>
      </div>
    </div>
    <div class='chats-item'>
      <input
        class='input-search'
        id='search'
        type='search'
        placeholder='Search...'
      />
    </div>
  </div>
</div>