.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  background: #f5f5dd;
  color: var(--main-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14pt;
}

.avatar img {
  object-fit: cover;
}

.photo-editing-field {
  display: flex;
  justify-content: center;
  align-items: end;
}
.photo-editing-field .fa {
  margin-left: -10px;
  font-size: 20px;
  color: gray;
}
