.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  background: #f5f5dd;
  color: var(--main-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14pt;
}

.avatar img {
  object-fit: cover;
}

.avatar-field {
  display: flex;
  justify-content: center;
}

.avatar-field .fa {
  margin-left: -10px;
  font-size: 20px;
  color: gray;
}

.photo-editing-field{
  display: flex;
  margin-bottom: 30px;
}

.photo-editing-field input{
  border: none;
}
