{{!< main}}

      <main class="main">
        <form class="auth container">
          <h3 class="text-center">Sign up</h3>
            {{> formItem/input name="email" placeholder="Email" required="true" type="email" }}
            {{> formItem/input name="login" placeholder="Login" required="true" type="text" }}
            {{> formItem/input name="name" placeholder="Name" required="true" type="text" }}
            {{> formItem/input name="surname" placeholder="Surname" required="true" type="text" }}
            {{> formItem/input name="phone" placeholder="Phone" required="true" type="text" }}
            {{> formItem/input name="password" placeholder="Password" required="true" type="password" }}
            {{> formItem/input name="second_password" placeholder="Repeat password" required="true" type="password" }}
          <div class="form-btns">
              {{> button/button title="Sign up" type="btn-primary btn-block"}}
              {{> button/button title="Sign in" type="btn-block" link="../auth/index.hbs"}}
          </div>
        </form>
      </main>
