.btn {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: var(--main-dark-color);
  background: var(--main-light-color);
}
a {
  color: inherit;
}

.btn-primary,
.btn-primary a {
  background-color: var(--main-dark-color);
  color: white;
}

.btn-block {
  width: 100%;
}
.btn a {
  text-decoration: none;
}
